:root {
  --bgColor: rgb(17, 17, 17);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bgColor);
  font-family: "Radio Canada", sans-serif;
}

img {
  filter: brightness(0.8);
  z-index: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Header // Nav */

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  width: 100%;
  height: 50px;
  background: var(--bgColor);
  align-items: center;
  box-shadow: 25px 25px 50px 0 black, -25px -25px 50px 0 black;
}

nav ul {
  display: flex;
  width: 100%;
}

nav ul li {
  margin: auto;
  height: 100%;
  list-style-type: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 40px;
  background-color: red;
}

nav ul :nth-child(1) {
  margin-left: 1vw;
  margin-right: 1vw;
}
nav ul :nth-child(2) {
  margin-left: 1vw;
  margin-right: 1vw;
}
nav ul :nth-child(3) {
  margin-left: 1vw;
  margin-right: 1vw;
}
nav ul :nth-child(4) {
  margin-left: auto;
  margin-right: 1vw;
  font-size: 30px;
}
nav ul :nth-child(5) {
  margin-left: auto;
  margin-right: 1vw;
  display: none;
}

/* Slide */

#slideContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  z-index: 10;
  position: relative;
  overflow: clip;
}

#slideContainer img {
  width: 100vw;
  object-fit: cover;
  position: relative;
}

footer {
  height: 20vh;
  width: 100%;
  color: white;
  position: relative;
  background-color: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.socialLinks a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin: 5px;
}

.footerLinks {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footerLinks li a {
  color: white;
  margin: 20px;
  text-decoration: none;
}

.slideText {
  position: absolute;
  z-index: 100;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}
.slideText h2 {
  color: white;
  font-size: 75px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.slidePlay {
  background-color: white;
  border-radius: 4px;
  height: fit-content;
  padding: 20px;
  margin-right: 10px;
}

.slideInfo {
  background-color: white;
  border-radius: 4px;
  height: fit-content;
  padding: 20px;
  margin-left: 10px;
}

.slideButtons {
  display: flex;
  margin: auto;
  font-size: 20px;
}

.slideButtons :hover {
  opacity: 0.5;
}

#rowDiv {
  top: -7.5vh;
  position: relative;
  z-index: 101;
}

.rowContainer {
  width: 100%;
  /* background-color: wheat; */
  position: relative;
}

.rowContainer h1 {
  color: white;
  padding: 10px;
  margin: 0;
  font-size: 40px;
}

.filmContainer {
  display: flex;
  height: 30vh;
}

.filmDiv {
  height: 100%;
  width: 10vw;
  top: 0;
  margin: 5px;
  transition: 0.1s ease-in-out;
  transition-delay: 0.2s;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.filmDiv img {
  height: 100%;
}

.filmDiv:hover {
  width: 30vw;
}

.filmDiv:hover > img {
  display: none;
}

.filmDiv:hover > .filmHover {
  display: flex;
}

.filmHover {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: clip;

  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 70%;
  width: 100%;
  position: relative;
  color: white;
}

.titleDiv {
  position: relative;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
  white-space: nowrap;
}

.overlayContainer {
  width: 100%;
  height: 55%;
  position: absolute;
  bottom: 0px;
  z-index: 10;
}


#overlayPlay {
  margin-left: 20px;
  margin-right: auto;
}

#overlayInfo {
  margin-right: 20px;
  margin-left: auto;
}

.overlayButtons {
  width: 100%;
  height: 50%;
  display: flex;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  font-size: 35px;
  align-items: center;
}

#infoBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  position: fixed;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

#infoScroll {
  position: absolute;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

#infoContainer {
  background-color: rgb(17, 17, 17);
  width: 35%;
  height: fit-content;
  position: relative;
  border-radius: 30px;
  z-index: 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#infoClose {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 130%;
  z-index: 1;
}

@keyframes openInfo {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

#infoImage {
  width: 100%;
  height: 40%;
  overflow: hidden;
  position: relative;
}

#infoImage img {
  width: 100%;
}

#infoImage h1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin: 0;
  color: white;
  margin: 10px;
  font-size: 45px;
}

#infoDescription {
  width: 90%;
  height: 20%;
  color: white;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

#infoSimilarTitles {
  color: white;
  height: 5%;
  font-size: 3vh;
  display: flex;
}

#infoSimilar {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  /* background-color: black; */
}

.similarMovieDiv {
  width: 22%;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 40px;
}
.similarMovieDiv img {
  width: 100%;
}

.filmDivMobile {
  height: 100%;
  width: 10vw;
  top: 0;
  margin: 5px;
  transition: 0.1s ease-in-out;
  transition-delay: 0.2s;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.filmDivMobile img {
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .filmDiv,
  .filmDivMobile {
    width: 20vw;
    align-items: center;
  }

  .filmDiv:hover {
    width: 60vw;
  }
  #infoContainer {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  nav ul {
    padding: 0;
  }
  nav ul li {
    display: none;
  }
  nav ul :nth-child(1) {
    display: block;
    margin-left: 1vw;
  }
  nav ul :nth-child(5) {
    display: block;
    font-size: 40px;
  }

  #infoContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .filmDiv,
  .filmDivMobile {
    width: 35vw;
    align-items: center;
  }

  #slideContainer {
    height: 40vh;
  }

  #slideContainer img {
    height: 60vh;
  }

  .slideText {
    display: none;
  }
  .filmContainer {
    height: 25vh;
  }

  .socialLinks a {
    font-size: 20px;
    margin: 5px;
  }

  .footerLinks li a {
    margin: 5px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  #infoContainer {
    width: 95%;
    height: 50%;
  }
  .similarMovieDiv {
    width: 25%;
  }
}

.frame-container {
  position: absolute;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
  pointer-events: none;
}

iframe {
  transform: scale(0.5);
}

#mobileMenuContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 150;
  display: none;
}

#mobileMenu {
  height: 50%;
  width: 100%;
  background-color: rgb(25, 25, 25);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#mobileMenuBackground {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
}

#mobileMenu a {
text-decoration: none;
color: white;
font-size: 20px;
margin: auto;
/* padding-right: 300px;
padding-left: 300px;
padding: 20px; */
}


/* Jag försökte göra animationerna genom 2 istället för 4 genom att anvånda reverse men det fungerade inte. */

@keyframes openMenu {
  0% {
    height: 0%;
  }
  100%{
    height: 50%;
  }
}


@keyframes closeMenu {
  0% {
    height: 50%;
  }
  100%{
    height: 0%;
  }
}


@keyframes darken {
  0% {
  background: rgba(0, 0, 0, 0);
    
  }
  100%{
  background: rgba(0, 0, 0, 0.5);
    
  }
}

@keyframes brighten {
  0% {
  background: rgba(0, 0, 0, 0.5);
    
  }
  100%{
  background: rgba(0, 0, 0, 0);
    
  }
}

